[package]
name = "doc_scraper"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

reqwest = {version = "0.11.18", features = ["blocking"]}
scraper = "0.17.1"
regex = "1.9.1"
clap = { version = "4.3.19", features = ["derive", "string"] }
home = "0.5.5"
lazy_static = "1.4.0"
serde = { version = "1.0.181", features = ["derive"] }
# serde_json = "1.0.104"

# preserve_order uses "IndexMap" instead of "BTreeMap" preserving order after parsing.
toml = { version = "0.7.6", features = ["preserve_order"] }
indexmap = { version = "2.0.0", features = ["serde"] }
